* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 7px;

}
